body{
    background-color: #131313;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.content {
    background: url(../img/image.jpg);
    /*font-family: 'Dancing Script', cursive;*/
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 0.25rem;
    display: inline-block;
    overflow: hidden;
    position: absolute;
    word-wrap: break-word;
    height: 1600px;
    width: 1400px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgb(255, 255, 255, 0);
}